html,body {
    background: url("/assets/landing/images/bg-poster.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
.btnKnow {
    text-align: center;
    z-index: 10;
    border: 2px solid #fff;
    height: 40px;
    width: 200px;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .35s;
}

.btnKnow:hover {
    background: #fff;
    color: #333;
}

.btnClose {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.btnClose:before,
.btnClose:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    left: 0;
    border-radius: 10px;
}

.btnClose:before {
    transform: rotate(45deg);
}

.btnClose:after {
    transform: rotate(-45deg);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#bottom {
    margin-top: -60px;
}

#iframeSection {
    padding: 40px;
}


#TextForiFrame {
    font-family: 'Allan';
    font-size: 52px;
    font-weight: 900;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.background {
    background-image: url("/assets/landing/images/bg-poster.jpg");
    background-size: cover;
    z-index: 100;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}

.darken-grey-text {
    color: #2E2E2E;
}

#NAVBAR {
    position: fixed;
    top: 0px;
    background-color: inherit;
}