<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competitions List | Wissenaire'23</title>
    <link rel="stylesheet" href="css/competitionIntro.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <!-- Favicons -->
    <link href="assets/workshop/img/favicon.png" rel="icon" />
    <link
      href="assets/workshop/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />
    <style>
      .header {
        /* background-color: rgb(79, 74, 74); */
        /* margin-top: 3rem; */
        padding: 1rem 0;
        width: 100%;
        z-index: 1000;
      }
      .header-text {
        color: #f5af19;
        font-size: 3vw !important;
        font-weight: bold;
        text-align: center;
        font-family: The Blast;
        src: url("../assets/fonts/The\ Blast.otf") format("opentype");
      }
      @media screen and (max-width: 768px) {
        .header-text {
          font-size: 6vw !important;
        }
      }
        
    </style>
  </head>
  <body>
    <%- include('../partials/navBar.ejs') %>
    <header class="header">
      <p class="header-text">Competitions</p>
    </header>
    <section class="timeline">
      <ul>
        <li>
          <div>
            <time>Yanthrix</time>
            <div class="discovery">
              <h1>Robo Wars</h1>
              <a href="/competitions?page=22"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Trekkon</h1>
              <a href="/competitions?page=24"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Kick Off</h1>
              <a href="/competitions"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Robo Race</h1>
              <a href="/competitions?page=25"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Maze Solver</h1>
              <a href="/competitions?page=26"><p>View Me</p></a>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>COLLOQUIA</time>
            <div class="discovery">
              <h1>Computer Science</h1>
              <a href="/competitions?page=19"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Electrical</h1>
              <a href="/competitions?page=12"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Civil</h1>
              <a href="/competitions?page=13"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Mechanical</h1>
              <a href="/competitions?page=8"><p>View Me</p></a>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>ON-NET</time>
            <div class="discovery">
              <h1>Shutter</h1>
              <a href="/competitions?page=3"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Scientoons</h1>
              <a href="/competitions?page=4"><p>View Me</p></a>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>LAN WARS</time>
            <div class="discovery">
              <h1>Valorant</h1>
              <a href="/competitions?page=23"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Call Of Duty: Mobile</h1>
              <a href="/competitions?page=16"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>CSGO</h1>
              <a href="/competitions?page=17"><p>View Me</p></a>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>MATRICKS</time>
            <div class="discovery">
              <h1>Blind Code</h1>
              <a href="/competitions?page=10"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Hack the Box</h1>
              <a href="/competitions?page=20"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Counter Cypher- black box event</h1>
              <a href="/competitions?page=11"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Code Hasten</h1>
              <a href="/competitions?page=18"><p>View Me</p></a>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>GRAND ARCANUM</time>
            <div class="discovery">
              <h1>Maths Olympiad</h1>
              <a href="/competitions?page=5"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Archimedes’ Dunk</h1>
              <a href="/competitions?page=6"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Truss the Frame</h1>
              <a href="/competitions?page=2"><p>View Me</p></a>
            </div>
          </div>
        </li>

        <li>
          <div>
            <time>EXECUTIVE SUITE</time>
            <div class="discovery">
              <h1>Analysis Aces</h1>
              <a href="/competitions?page=15"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>TradeSmith</h1>
              <a href="/competitions?page="><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Mad-Ads</h1>
              <a href="/competitions?page=21"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>Auction War</h1>
              <a href="/competitions?page=14"><p>View Me</p></a>
            </div>
          </div>
        </li>
        <li style="margin-bottom: 20px;">
          <div>
            <time>Special Events</time>
            <div class="discovery">
              <h1>MEMORY CHALLENGE</h1>
              <a href="/competitions?page=9"><p>View Me</p></a>
            </div>
            <div class="discovery">
              <h1>SCHOOL CHAMP</h1>
              <a href="/competitions?page=1"><p>View Me</p></a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <p class="footer-text">&copy; Wissenaire'23</p>
  </footer>
  </body>
  <script>
    var items = document.querySelectorAll(".timeline li");

    function isElementInViewport(el) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <=
          (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function callbackFunc() {
      for (var i = 0; i < items.length; i++) {
        if (isElementInViewport(items[i])) {
          if (!items[i].classList.contains("in-view")) {
            items[i].classList.add("in-view");
          }
        } else if (items[i].classList.contains("in-view")) {
          items[i].classList.remove("in-view");
        }
      }
    }

    window.addEventListener("load", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
  </script>
</html>
