<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('.toggle').click(function () {
      $('.menu').toggleClass('active');
    });
    $('.toggle').bind('tap', function () {
      $('.menu').toggleClass('active');
    })
  });
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');



  .toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 50000001 !important;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    color: wheat;
  }

  .toggle a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0C1226;
    /* background-image: linear-gradient(to right, #072142, #14216d 42%, #160d4b); */
    z-index: 50000000  !important;
    transition: 0.5s;
  }

  .meunul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  li {
    /* font-family: monospace; */
    font-family: 'Didact Gothic', sans-serif;
  }

  .meunul li {
    list-style: none;
  }

  .meunul li a {
    padding: 10px;
    display: inline-block;

    font-family: 'Didact Gothic', sans-serif;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }

  .meunul li a:hover {}

  .menu.active {
    left: 0;
    overflow: auto;
  }

  .toggle {
    color: white !important;
  }

  /* body {
    text-align: center;
  } */

  .letter {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 5.1vmin;
    text-shadow: 0.03em 0.03em 0.02em #777;
    will-change: transform;
    cursor: default;

    display: inline-block;
    transition: transform 0.2s ease;
  }

  /* This is all we need :D */
  .letter:hover {
    transform: scaleX(1.2) scaleY(1.1);
  }
</style>
<div class="toggle">
  <a><i class="fa fa-bars "></i></a>
</div>
<div class="menu">
  <ul class="meunul">
    <li><a href="/profile"></gn in</a>
    </li>
    <li><a href="/about"><span class="letter">About</span></a></li>
    <li><a href="/competitionsIntro"> <span class="letter"> Competitions</span> </a></li>

    <li><a href="/guest-lectures"> <span class="letter"> Guest lectures</span> </a></li>
    <li><a href="/comingsoon"> <span class="letter"> Exhibits</span> </a></li>
    <li><a href="/workshops"> <span class="letter"> Workshops </span> </a></li>
    <li><a href="/comingsoon"> <span class="letter"> Initiatives </span> </a></li>
    <li><a href="/comingsoon">
        <span class="letter"> Highlights </span>
      </a></li>
    <!-- <li><a href="/comingsoon">

        <span class="letter"> Qwissenaire</span>
      </a></li> -->
    <li><a href="/teams">

        <span class="letter"> Team</span>
      </a></li>
    <li><a href="/sponsors">

        <span class="letter"> Sponsors</span>
      </a></li>
    <li><a href="/reachUs">

        <span class="letter">
          Reach Us
        </span>
      </a></li>
  </ul>
</div>
