<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('.toggle').click(function () {
      $('.menu').toggleClass('active');
    });
  });
</script>
<style>
  body {
    margin: 0;
    padding: 0;
  }

  .toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2000;
  }

  .toggle a {
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
  }

  .menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 1;
    transition: 0.5s;
  }

  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  ul li {
    list-style: none;
  }

  ul li a {
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
  }

  ul li a:hover {
  }

  .menu.active {
    left: 0;
    overflow: auto;
  }
</style>
<div class="toggle">
  <a><i class="fa fa-bars"></i></a>
</div>
<div class="menu">
  <ul>
    <li><a href="/profile"></gn in</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/competitions">Competitions</a></li>
    <li><a href="/comingsoon">Guest lectures</a></li>
    <li><a href="/comingsoon">Exhibits</a></li>
    <li><a href="/workshops">Workshops</a></li>
    <li><a href="/comingsoon">Initiatives</a></li>
    <li><a href="/comingsoon">Highlights</a></li>
    <li><a href="/comingsoon">Qwissenaire</a></li>
    <li><a href="/comingsoon">Team</a></li>
    <li><a href="/comingsoon">Sponsor</a></li>
    <li><a href="/comingsoon">Reach Us</a></li>
  </ul>
</div>