<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('.toggle').click(function () {
      $('.menu').toggleClass('active');
    });
    $('.toggle').bind('tap', function () {
      $('.menu').toggleClass('active');
    })
  });
</script>
<style>
  body {
    margin: 0;
    padding: 0;
  }

  .toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 200000;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .toggle a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(234, 0, 255);
    background: linear-gradient(90deg, rgba(234, 0, 255, 1) 0%, rgba(225, 51, 241, 1) 48%, rgba(122, 0, 109, 1) 100%);
    z-index: 1;
    transition: 0.5s;
  }

  .meunul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  li {
    font-family: monospace;
  }

  .meunul li {
    list-style: none;
  }

  .meunul li a {
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
  }

  .meunul li a:hover {}

  .menu.active {
    left: 0;
    overflow: auto;
  }

  .toggle {
    color: white !important;
  }
</style>
<div class="toggle">
  <a><i class="fa fa-bars "></i></a>
</div>
<div class="menu">
  <ul class="meunul">
    <li><a href="/profile"></gn in</a>
    </li>
    <li><a href="/about">About</a></li>
    <li><a href="/competitions">Competitions</a></li>
    <li><a href="/comingsoon">Guest lectures</a></li>
    <li><a href="/comingsoon">Exhibits</a></li>
    <li><a href="/workshops">Workshops</a></li>
    <li><a href="/comingsoon">Initiatives</a></li>
    <li><a href="/comingsoon">Highlights</a></li>
    <li><a href="/comingsoon">Qwissenaire</a></li>
    <li><a href="/comingsoon">Team</a></li>
    <li><a href="/comingsoon">Sponsor</a></li>
    <li><a href="/comingsoon">Reach Us</a></li>
  </ul>
</div>