<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="assets/workshop/img/favicon.png" rel="icon" />
    <title>Wissenaire'23 | Comming Soon</title>
    <link rel="stylesheet" href="css/comingSoon.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <!-- <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  /> -->
  </head>

  <%- include('./partials/navBar.ejs') %>
  <body class="comingSoonBody">
    <div class="loader">
      <span>C</span>
      <span>O</span>
      <span>M</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
      <span> </span>
      <span>S</span>
      <span>O</span>
      <span>O</span>
      <span>N</span>
    </div>
  </body>
</html>
