<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/comingSoon2.css">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 600 300">

        <!-- Symbol -->
        <symbol id="s-text">
          <text text-anchor="middle"
                  x="100%" y="50%" dy=".35em">
              Coming Soon
           </text>
        </symbol>
      
        <!-- Duplicate symbols -->
        <use xlink:href="#s-text" class="text"
                  ></use>
        <use xlink:href="#s-text" class="text"
                  ></use>
        <use xlink:href="#s-text" class="text"
                  ></use>
        <use xlink:href="#s-text" class="text"
                  ></use>
        <use xlink:href="#s-text" class="text"
                  ></use>
      
      </svg>
</body>
</html>