<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Wissenaire'23 | Reach Us</title>
    <link href="assets/workshop/img/favicon.png" rel="icon" />
    <!-- preloader -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
    />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/dist/boxicons.min.js"></script>
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="./css/css2.css" /> -->
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface"
    /> -->
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="css/contact.css" />
    <style>
      body {
        margin: 0;
        background-color: #121212;
      }
      .top-layer {
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 0vh;
        left: 0;
      }
      .logo {
        margin: 50px auto;
        text-align: center;
      }
      .logo a {
        text-decoration: none;
        -webkit-transform: perspective(2.5em) rotateX(12deg) scaleY(0.8);
        -moz-transform: perspective(2.5em) rotateX(12deg) scaleY(0.8);
        -ms-transform: perspective(2.5em) rotateX(12deg) scaleY(0.8);
        -o-transform: perspective(2.5em) rotateX(12deg) scaleY(0.8);
        transform: perspective(2.5em) rotateX(12deg) scaleY(0.8);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-size: 5em;
        font-weight: 700;
        font-family: "Exo 2";
        line-height: 0.8;
        color: #9cc9df;
        text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7dc4e6,
          0 3px 0 #289acf, 0 5px 0 #137492, 0 7px 0 #03678e, 0 9px 0 #037d93,
          0 6px 50px rgba(92, 241, 252, 0.8);
      }
      .logo a:first-line {
        font-size: 0.8em;
      }
      .logo a:hover {
        -webkit-transform: perspective(8em) rotateX(5deg) scale(1.2);
        -moz-transform: perspective(8em) rotateX(5deg) scale(1.2);
        -ms-transform: perspective(8em) rotateX(5deg) scale(1.2);
        -o-transform: perspective(8em) rotateX(5deg) scale(1.2);
        transform: perspective(8em) rotateX(5deg) scale(1.2);
        text-shadow: 0 -1px 15px rgb(0, 0, 0), 0 1px 0 #036c7f, 0 2px 0 #037584,
          0 0px 0 #037989, 0 1px 0 #03858e, 0 2px 0 #038293,
          0 2px 30px rgba(92, 220, 252, 0.6);
      }
      .wissLogo {
        width: 200px;
      }
      .subHead {
        color: #fff;
      }
      /* @media screen and (max-width: 1279px) {
  .cur {
    display: none;
  }
  body {
    cursor: default;
  }
} */
      .about-me .content h3 {
        font-weight: 700;
        font-size: 26px;
        color: #ff7e00;
      }
      .about-me .content ul {
        list-style: none;
        padding: 0;
      }
      .about-me .content ul li {
        padding-bottom: 10px;
      }
      .about-me .content ul i {
        font-size: 20px;
        padding-right: 2px;
        color: #ff7e00;
      }
      .about-me .content p:last-child {
        margin-bottom: 0;
      }
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
      @keyframes cursorAnim {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(0.7);
        }
      }
      @keyframes cursorClick {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(2);
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
      .expand {
        animation: cursorClick 0.5s forwards;
        border: 1px solid blue;
      }
      .link-grow {
        transform: scale(2);
        background: #1a28cf;
      }
      @media only screen and (max-width: 800px) {
        .cur {
          display: none;
        }
        body {
          cursor: default;
        }
      }
      body {
        width: 100vw;
        height: auto;
        background-color: rgb(0, 0, 0);
      }
      a:hover {
        text-decoration: none !important;
      }
      body {
        overflow-y: scroll;
      }
      ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
      .contact {
        color: #fff;
        margin-bottom: 50px;
      }
      .contactSpan {
        color: #000;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css?family=Exo+2:600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
  />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./partials/navBar.ejs') %>
      <div class="container-contact">
        <div class="forms-container">
          <div class="signin-signup">
            <form action="#" class="sign-in-form">
              <h2 class="title-contact">CONTACT US</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Name" name="name" required />
              </div>
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" name="email" required />
              </div>
              <div class="input-field">
                <i class="fas fa-comment"></i>
                <input
                  type="text"
                  placeholder="Your Message"
                  name="message"
                  required
                />
              </div>
              <input
                type="submit"
                value="send message"
                class="btn-contact solid"
              />
              <p class="social-text">Or Contact us in social platforms</p>
              <div class="social-media">
                <a href="https://www.facebook.com/wissenaireiitbbs/" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://mobile.twitter.com/wissiitbbs" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/wissenaire.iitbbs/" class="social-icon">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiNstDD0eL8AhUtTGwGHS5mCoAQFnoECA8QAQ&url=https%3A%2F%2Fin.linkedin.com%2Fcompany%2Fwissenaireiitbbs&usg=AOvVaw23qvfAF3jknfp1yA08giRU" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </form>
            <script>
              $("form").submit(function (e) {
                e.preventDefault();
                var form = $(this);
                console.log("ok");
                $.ajax({
                  type: "POST",
                  url: "/contact",
                  data: form.serialize(),
                  success: function (result) {
                    if (result) {
                      new swal({
                        title: "SUCCESS",
                        text: "Your message has been received successfully. We will get back soon.",
                        icon: "success",
                      }).then((flag) => {
                        if (flag) {
                          window.location.href = "/reachus";
                        }
                      });
                    } else {
                      new swal({
                        title: "Error",
                        text: "Please try again",
                        icon: "error",
                      });
                    }
                  },
                });
              });
            </script>
          </div>
        </div>

        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
              <h3>Have questions?</h3>
              <p>We are just a message away from you!</p>
              <!-- <button class="btn-contact transparent" id="sign-up-btn">Contact</button> -->
            </div>
            <!-- <img src="img/log.svg" class="image" alt="" /> -->
          </div>

          <!-- <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="btn-contact transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="img/register.svg" class="image" alt="" />
          </div> -->
        </div>
      </div>
    <!-- partial -->
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <!-- <script>
      let links = document.querySelector(".main-content a");
      const cursors = document.querySelector(".cur");
      document.addEventListener("mousemove", (e) => {
        let x = e.pageX;
        let y = e.pageY;
        cursors.setAttribute(
          "style",
          "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;"
        );
      });
      document.addEventListener("click", () => {
        cursors.classList.add("expand");
        setTimeout(() => {
          cursors.classList.remove("expand");
        }, 500);
      });
    </script> -->
    <!-- <script>
      const sign_in_btn = document.querySelector("#sign-in-btn");
      const sign_up_btn = document.querySelector("#sign-up-btn");
      const container = document.querySelector(".container-contact");
      sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
      });
      sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
      });
    </script> -->
  </body>
</html>