<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponsors</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/assets/sponsors/css/index.css" />
  </head>
  <body>
    <%- include('./partials/navBar.ejs') %>
    <div class="text-center m-4">
      <span>Title Sponsor</span>
      <div class="justify-content-center">
        <a href="https://iocl.com/" target="_blank"
          ><img src="/assets/sponsors/img/Title Sponsor/IOCL.png" width="400" alt=""
        /></a>
      </div>
      <div class="row justify-content-center components">
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 logo-wrapper">
          <a href="https://iocl.com/" target="_blank"
            ><img
              src="/assets/sponsors/img/Title Sponsor/XG.png"
              width="200"
              class="components"
              alt=""
          /></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-12 logo-wrapper">
          <a href="https://iocl.com/" target="_blank"
            ><img
              src="/assets/sponsors/img/Title Sponsor/XP.png"
              width="200"
              class="components"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Executive Sponsor</span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://metamind.academy/" target="_blank"
            ><img src="/assets/sponsors/img/Others/Metaminds.jpg" change width="200px" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Diamond Sponsor</span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://www.ramcocements.in/" target="_blank"
            ><img src="/assets/sponsors/img/Others/Ramco.png" change width="250px" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Gold Sponsors</span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://www.mahanadicoal.in/Welcome.php" target="_blank"
            ><img src="/assets/sponsors/img/Gold/MCL1.jpg" width="250px" alt=""
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://www.balcoindia.com/" target="_blank"
            ><img src="/assets/sponsors/img/Gold/BalcoG.png" width="300px" alt=""
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://www.ocac.in/" target="_blank"
            ><img src="/assets/sponsors/img/Gold/ocac_e&it__gold.png" width="250px" alt=""
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://startupodisha.gov.in/" target="_blank"
            ><img src="/assets/sponsors/img/Gold/Startup_Odisha.png" width="250px" alt=""
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://it.odisha.gov.in/" target="_blank"
            ><img src="/assets/sponsors/img/Gold/E&IT.jpg" width="150px" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Silver Sponsors</span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6 p-4 logo-wrapper">
          <a href="https://www.hdfcbank.com/" width="200px" target="_blank"
            ><img src="/assets/sponsors/img/Silver/HDFC.jpg" width="250px" alt=""
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 p-4 logo-wrapper silver">
          <a href="https://www.onlinesbi.sbi/" width="200px" target="_blank"
            ><img src="/assets/sponsors/img/Silver/SBI.png" width="250px" alt=""
          /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 p-4 logo-wrapper silver">
          <p>Robotics Partner</p>
          <a href="https://m.facebook.com/people/Infoage-Robotics-Lab/100064862958847/"><img src="/assets/sponsors/img/Silver/IRL.png" width="200px" alt="" /></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 p-4 logo-wrapper silver">
          <p>Audio Partner</p>
          <a href="https://zebronics.com/" target="_blank"
            ><img
              src="/assets/sponsors/img/Silver/Zebronics.png"
              width="200px"
              target="_blank"
              width="300px"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Associate Sponsors</span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Associate/IMFA.jpg" width="150px" alt="" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Associate/CSM.png" width="150px" alt="" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Associate/LWT.png" width="150px" alt="" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Associate/ECS.png" width="150px" alt="" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Associate/Airtel.jpg" width="150px" alt="" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Associate/Aditya.png" width="150px" alt="" />
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Coupon Partners</span>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/Louis.jpg" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/Divine.jpg" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/AB.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/B21.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/Green Trends.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/Natural.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Coupon/Cut.png" width="200px" alt="" />
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Food Partners</span>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Food Partner/El-Arabia.jpg" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Food Partner/RMS.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Food Partner/Theka.jpg" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Food Partner/Hum tum.jpg" width="150px" alt="" />
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Media Partners</span>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Media/Youth.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Media/Sach Kahoo.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Media/FLM LOGO.png" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Media/College Fest.jpeg" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Media/Sahu.jpg" width="200px" alt="" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 p-4 logo-wrapper">
          <img src="/assets/sponsors/img/Media/ideaPreneur.jpg" width="200px" alt="" />
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Internship &amp; Training Programme
      </span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://rep.iitbbs.ac.in/">
            <img src="/assets/sponsors/img/Others/Teachnook.png" target="_blank" width="200px" alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="text-center m-4">
      <span>Entrepreneurial Partner</span>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 p-4 logo-wrapper">
          <a href="https://rep.iitbbs.ac.in/">
            <img src="/assets/sponsors/img/Others/rep-logo.png" target="_blank" width="200px" alt=""
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
