<!DOCTYPE html>
<html lang="en">
<!-- 
    Marketing
    Branding Anirudh , Saranya
    Workshops Varun, Karthikeya
    Competitions Siddharth, , Asutkar
    Public Relations 
    CA Program yashwanth
    Exhibits shikhar
    Quizennaire kushwanth, harshith
    Guest Lectures Shreya, dishana
    Creatives design team
    Web
    
 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <title>Team Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
    <link rel="stylesheet" href="/assets/teams/style.css">
    <style>
        .row {
            display: flex;
            justify-content: center;
            padding-bottom: 100px;
        }

        .fa-facebook-f {
            color: #3B5998
        }

        .fa-instagram {
            color: crimson;
        }

        .fa-linkedin-in {
            color: #0072B1;
        }

        @media (max-width:768px) {
            .social-links .ch-info h2 {
                font-size: 36px;
            }
        }

        @media (max-width:768px) {
            .speaker-block .social-links li a {
                font-size: 36px;
            }
        }

        .title h1 {
            font-size: 32px;
        }
    </style>
</head>

<body>
    <!-- partial:index.partial.html -->
    <%- include('./partials/navBar.ejs') %>
    <section class="speakers-section">
        <div class="parallax-scene parallax-scene-2 anim-icons">
            <span data-depth="0.40" class="parallax-layer icon icon-circle-5"></span>
            <span data-depth="0.99" class="parallax-layer icon icon-circle-5"></span>
        </div>
        <div class="container">
            <div class="sec-title light text-center">
                <span class="title">
                    <h1>CHIEF COORDINATOR</h1>
                </span>

            </div>

            <div class="row">

                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/chico.JPG" alt="">

                                <div class="social-links">
                                    <ul>
                                        <li
                                            class="ch-info">
                                            <h2>
                                                SHISHIR REDDY
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h2>
                                                6309140804
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h4>20CS01001@iitbbs.ac.in</h4>
                                        </li><br>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                

               
                
            </div>
        </div>

        <div class="container">
            <div class="sec-title light text-center">
                <span class="title">
                    <h1>MARKETING TEAM</h1>
                </span>
            </div>

            <div class="row">

                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/Girish.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                             
                                            Girish 
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            6281393036                                    </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ec01014@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/chota.bheem.54321?mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/girish2048l?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/lade-sabari-girish-010986209" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/Satyansh.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                             
                                          Satyansh Shukla
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            6386278110                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20cs01021@iitbbs.ac.in</h4></li><br>
                                        <li><a href="#" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/Lavanya.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                             
                                          Bula Lavanya
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            9640665516                 </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ee01064@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/profile.php?id=100059196984977" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://www.instagram.com/lavanya_._.__/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/bula-lavanya-247605218" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/AdityaBala.JPG" alt="">

                                <div class="social-links">
                                    <ul>
                                        <li
                                            class="ch-info">
                                            <h2>
                                                Aditya Balakrishnan
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h2>
                                                9778473211
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h4>20CS01019@iitbbs.ac.in</h4>
                                        </li><br>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/Sumit.JPG" alt="">

                                <div class="social-links">
                                    <ul>
                                        <li
                                            class="ch-info">
                                            <h2>
                                                Sumith
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h2>
                                                6303245759
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h4>20CS01053@iitbbs.ac.in</h4>
                                        </li><br>
                                        <li><a href="https://www.facebook.com/somu.pooner?mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/sumith_009?igshid=ZDdkNTZiNTM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/sumith9" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>



                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/navya.jpg" alt="">

                                <div class="social-links">
                                    <ul>
                                        <li
                                            class="ch-info">
                                            <h2>
                                                Jasthi Navya
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h2>
                                                7670875955
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h4>20CS01031@iitbbs.ac.in</h4>
                                        </li><br>
                                        <li><a href="https://www.facebook.com/navya.jasthi.75"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://www.instagram.com/jasthinavya/"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/navya-jasthi-68428922a/"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/Nischal.jpg" alt="">

                                <div class="social-links">
                                    <ul>
                                        <li
                                            class="ch-info">
                                            <h2>
                                                Nischal Kailash
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h2>
                                                7382249562
                                            </h2>
                                        </li><br>
                                        <li class="ch-info">
                                            <h4>20EC01001@iitbbs.ac.in</h4>
                                        </li><br>
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="sec-title light text-center">
                <span class="title">
                    <h1>BRANDING</h1>
                </span>

            </div>

            <div class="row">

                
               

                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/events/VAnirudh.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                             
                                            Venkata Anirudh
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            9182885382                                 </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20cs01013@iitbbs.ac.in</h4></li><br>
                                        <li><a href=https://www.facebook.com/profile.php?id=100011695882286&mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/anirudh_1606?igshid=ZDdkNTZiNTM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/anirudh-v-v-544739218"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/spons/Saranya.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                             
                                          Madike Saranya
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            6303097488               </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ee01035@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/profile.php?id=100063589242956&mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/saranya._26?igshid=ZDdkNTZiNTM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        
                                        <li><a href="https://www.linkedin.com/in/saranyamadike26" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="container">
                    <div class="sec-title light text-center">
                        <span class="title">
                            <h1>WORKSHOPS</h1>
                        </span>
        
                    </div>
        
                    <div class="row">
        
                        

                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/assets/teams/img/events/Karthikeya.jpg" alt="">
        
                                        <div class="social-links">
                                            <ul>
                                                <li
                                                    class="ch-info">
                                                    <h2>
                                                       Yedla Karthikeya
                                                    </h2>
                                                </li><br>
                                                <li class="ch-info">
                                                    <h2>
                                                        7093867606
                                                    </h2>
                                                </li><br>
                                                <li class="ch-info">
                                                    <h4>20ce01042@iitbbs.ac.in</h4>
                                                </li><br>
                                                <li><a href="#" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="https://instagram.com/karthikeya_yedla?igshid=ZDdkNTZiNTM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                <li><a href="https://www.linkedin.com/in/karthikeya-yedla-a21a09210" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                            </ul>
                                        </div>
        
                                    </figure>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/assets/teams/img/events/VarunAbhi.JPG" alt="">
        
                                        <div class="social-links">
                                            <ul>
                                                <li
                                                    class="ch-info">
                                                    <h2>
                                                       Varun Abhishek C
                                                    </h2>
                                                </li><br>
                                                <li class="ch-info">
                                                    <h2>
                                                        7981711761
                                                    </h2>
                                                </li><br>
                                                <li class="ch-info">
                                                    <h4>20me01056@iitbbs.ac.in</h4>
                                                </li><br>
                                                <li><a href="https://www.facebook.com/varun.abhi.50/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="https://www.instagram.com/varunabhi_01/?hl=en" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                <li><a href="https://www.linkedin.com/in/varunabhi01/" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                            </ul>
                                        </div>
        
                                    </figure>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="container">
                            <div class="sec-title light text-center">
                                <span class="title">
                                    <h1>COMPETETIONS</h1>
                                </span>
                
                            </div>
                
                            <div class="row">
                
                                
        

                                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="/assets/teams/img/events/Siddharth.jpg" alt="">
                
                                                <div class="social-links">
                                                    <ul>
                                                        <li
                                                            class="ch-info">
                                                            <h2>
                                                                Siddharth Lapsiwala
                                                            </h2>
                                                        </li><br>
                                                        <li class="ch-info">
                                                            <h2>
                                                                9909227100
                                                            </h2>
                                                        </li><br>
                                                        <li class="ch-info">
                                                            <h4>20ee02014@iitbbs.ac.in</h4>
                                                        </li><br>
                                                        <li><a href="https://www.facebook.com/siddharth.lapsiwala?mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                        <li><a href="https://instagram.com/___sid___026___?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                        <li><a href="https://www.linkedin.com/in/siddharth-lapsiwala-320b2922a" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                    </ul>
                                                </div>
                
                                            </figure>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="/assets/teams/img/events/Ayush Asutkar.jpg" alt="">
                
                                                <div class="social-links">
                                                    <ul>
                                                        <li
                                                            class="ch-info">
                                                            <h2>
                                                                A.V.Asutkar 
                                                            </h2>
                                                        </li><br>
                                                        <li class="ch-info">
                                                            <h2>
                                                                9960955907
                                                            </h2>
                                                        </li><br>
                                                        <li class="ch-info">
                                                            <h4>20cs01057@iitbbs.ac.in</h4>
                                                        </li><br>
                                                        <li><a href="https://www.facebook.com/profile.php?id=100010727990286" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                        <li><a href="https://instagram.com/ayush_asutkar_07?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                        <li><a href="https://www.linkedin.com/in/ayushasutkar/" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                    </ul>
                                                </div>
                
                                            </figure>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="sec-title light text-center">
                                        <span class="title">
                                            <h1>PUBLIC RELATIONS</h1>
                                        </span>
                                    </div>
                        
                                    <div class="row">
                        
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/publi/Sravya.JPG" alt="">
                        
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        P S Sravya
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        7386567401
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20ce01048@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/perisetti.sravya?mibextid=ZbWKwL"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/perisettisravya?igshid=YzgyMTM2MGM="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/perisetti-sree-sravya-920a15223"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                        
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/publi/Rishitha.JPG" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Rishithaa Gottipati </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        8790895471
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20cs01023@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/rishithaa.gottipati?mibextid=ZbWKwL"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/rishithaa.g_?igshid=YzgyMTM2MGM="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/rishithaa-gottipati-10b071211"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <!-- <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/chico.JPG" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Y Padma Keerthi </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        9989243701
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20ec01047@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/profile.php?id=100068931586734&mibextid=LQQJ4d"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/keerthi._.2504?igshid=NDk5N2NlZjQ="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/keerthi2504"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div> -->
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/events/AnirudhK.JPG" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Karri Anirudh </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        7780304509
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20me01050@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/karri.anirudh.7?mibextid=ZbWKwL"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/karri_anirudh?igshid=ZDdkNTZiNTM="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/karri-anirudh-b6002a234"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/publi/Lurvik.jpg" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Lurvik </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        7075398294
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20ec01052@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/lurvik.naidu.1?mibextid=ZbWKwL"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/lurvik_naidu?igshid=ZDdkNTZiNTM="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/pokala-lurvik-a197b7237"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/publi/Likhitha.jpg" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Mothukuri Likhitha  </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        7658962671
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20cs02005@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="#"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/_likhitha.m_?igshid=YzgyMTM2MGM="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/likhitha-mothukuri"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/publi/Gokul.JPG" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Sai Gokul Atmakur  </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        7207714570
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20me01030@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/SaiGokul.Atmakur"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://www.instagram.com/saigokulatmakur/"
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/saigokul-atmakur/"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/img/publi/Sanjay.JPG" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Sanjay yanamala </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        7893514379
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20ee01058@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://m.facebook.com/100010474090605/"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://www.instagram.com/sanjayyanamala18/"
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="hhttps://www.linkedin.com/mwlite/in/sanjay-yanamala-1b45b9219"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div>
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <!-- <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                            <div class="inner-box">
                                                <div class="image-box">
                                                    <figure class="image"><img src="/assets/teams/chico.JPG" alt="">
                            
                                                        <div class="social-links">
                                                            <ul>
                                                                <li
                                                                    class="ch-info">
                                                                    <h2>
                                                                        Spurthi Sriramoju </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h2>
                                                                        6303981717
                                                                    </h2>
                                                                </li><br>
                                                                <li class="ch-info">
                                                                    <h4>20ec01039@iitbbs.ac.in</h4>
                                                                </li><br>
                                                                <li><a href="https://www.facebook.com/spurthi.sriramoju?mibextid=ZbWKwL"
                                                                        target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                <li><a href="https://instagram.com/spurthisriramoju?igshid=ZDdkNTZiNTM="
                                                                        target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                <li><a href="https://www.linkedin.com/in/spurthi-sriramoju-a82a43244"
                                                                        target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                            </ul>
                                                        </div> -->
                            
                                                    </figure>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        
                                    </div>
        
                               
        
                        
                                    <div class="container">
                                        <div class="sec-title light text-center">
                                            <span class="title">
                                                <h1>CA PROGRAM</h1>
                                            </span>
                            
                                        </div>
                            
                                        <div class="row">
                            
                                            
                                           
                            
                                            

                                            <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><img src="/assets/teams/img/publi/Yashwanth.JPG" alt="">
                                
                                                            <div class="social-links">
                                                                <ul>
                                                                    <li
                                                                        class="ch-info">
                                                                        <h2>
                                                                            P Sai Yaswanth Reddy </h2>
                                                                    </li><br>
                                                                    <li class="ch-info">
                                                                        <h2>
                                                                            9951889882
                                                                        </h2>
                                                                    </li><br>
                                                                    <li class="ch-info">
                                                                        <h4>20ec01015@iitbbs.ac.in</h4>
                                                                    </li><br>
                                                                    <li><a href="https://www.facebook.com/psyreddy.07" target="_blank"><span
                                                                                class="fab fa-facebook-f"></span></a></li>
                                                                    <li><a href="https://www.instagram.com/_i.m.psy_/" target="_blank"><span
                                                                                class="fab fa-instagram"></span></a></li>
                                                                    <li><a href="https://www.linkedin.com/in/psyreddy/" target="_blank"><span
                                                                                class="fab fa-linkedin-in"></span></a></li>
                                                                </ul>
                                                            </div>
                                
                                                        </figure>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                            
                                            


                                            <div class="container">
                                                <div class="sec-title light text-center">
                                                    <span class="title">
                                                        <h1>EXHIBITS</h1>
                                                    </span>
                                    
                                                </div>
                                    
                                                <div class="row">
                                    
                                                    
                                                   
                                    
                                                    <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                                        <div class="inner-box">
                                                            <div class="image-box">
                                                                <figure class="image"><img src="/assets/teams/img/events/Shikhar.JPG" alt="">
                                    
                                                                    <div class="social-links">
                                                                        <ul>
                                                                            <li
                                                                                class="ch-info">
                                                                                <h2>
                                                                                    Shikhar Agrawal
                                                                                </h2>
                                                                            </li><br>
                                                                            <li class="ch-info">
                                                                                <h2>
                                                                                    8599812216
                                                                                </h2>
                                                                            </li><br>
                                                                            <li class="ch-info">
                                                                                <h4>20ec01013@iitbbs.ac.in</h4>
                                                                            </li><br>
                                                                            <li><a href="https://www.facebook.com/shikhar.agrawal.395" target="_blank" ><span class="fab fa-facebook-f"></span></a></li>
                                                                            <li><a href="https://instagram.com/shikhar__agrwal?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                            <li><a href="https://www.linkedin.com/in/shikhar-agrawal-ba7978231" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                                        </ul>
                                                                    </div>
                                    
                                                                </figure>
                                                            </div>
                                                            <br>
                                                        </div>
                                                    </div>
        
                                                    <div class="container">
                                                        <div class="sec-title light text-center">
                                                            <span class="title">
                                                                <h1>QUIZZENAIRE</h1>
                                                            </span>
                                            
                                                        </div>
                                            
                                                        <div class="row">
                                            
                                                            
                                                            <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                                                <div class="inner-box">
                                                                    <div class="image-box">
                                                                        <figure class="image"><img src="/assets/teams/img/events/Kushwanth.jpg" alt="">
                                            
                                                                            <div class="social-links">
                                                                                <ul>
                                                                                    <li
                                                                                        class="ch-info">
                                                                                        <h2>
                                                                                            Kushwanth
                                                                                        </h2>
                                                                                    </li><br>
                                                                                    <li class="ch-info">
                                                                                        <h2>
                                                                                            9491463725
                                                                                        </h2>
                                                                                    </li><br>
                                                                                    <li class="ch-info">
                                                                                        <h4>20ee01042@iitbbs.ac.in</h4>
                                                                                    </li><br>
                                                                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                                                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                                                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                                                                </ul>
                                                                            </div>
                                            
                                                                        </figure>
                                                                    </div>
                                                                    <br>
                                                                </div>
                                                            </div>

                                                            <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                                                <div class="inner-box">
                                                                    <div class="image-box">
                                                                        <figure class="image"><img src="/assets/teams/img/publi/Harshit.JPG" alt="">
                                                
                                                                            <div class="social-links">
                                                                                <ul>
                                                                                    <li
                                                                                        class="ch-info">
                                                                                        <h2>
                                                                                            Koppula Harshith </h2>
                                                                                    </li><br>
                                                                                    <li class="ch-info">
                                                                                        <h2>
                                                                                            7013284967
                                                                                        </h2>
                                                                                    </li><br>
                                                                                    <li class="ch-info">
                                                                                        <h4>20ee01049@iitbbs.ac.in</h4>
                                                                                    </li><br>
                                                                                    <li><a href="https://www.facebook.com/harshith.koppula.5"
                                                                                            target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                                    <li><a href="https://www.instagram.com/harsh07k/"
                                                                                            target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                                    <li><a href="https://www.linkedin.com/in/harshith-koppula/"
                                                                                            target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                                                </ul>
                                                                            </div>
                                                
                                                                        </figure>
                                                                    </div>
                                                                    <br>
                                                                </div>
                                                            </div>
                                            
                                                            <div class="container">
                                                                <div class="sec-title light text-center">
                                                                    <span class="title">
                                                                        <h1>GUEST LECTURES</h1>
                                                                    </span>
                                                    
                                                                </div>
                                                    
                                                                <div class="row">
                                                    
                                                                    
                                                                    
                                                                
                                                                   
                                                                    <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                                                        <div class="inner-box">
                                                                            <div class="image-box">
                                                                                <figure class="image"><img src="/assets/teams/img/events/Dishana.jpg" alt="">
                                                    
                                                                                    <div class="social-links">
                                                                                        <ul>
                                                                                            <li
                                                                                                class="ch-info">
                                                                                                <h2>
                                                                                                    Dishana
                                                                                                </h2>
                                                                                            </li><br>
                                                                                            <li class="ch-info">
                                                                                                <h2>
                                                                                                    9491463725
                                                                                                </h2>
                                                                                            </li><br>
                                                                                            <li class="ch-info">
                                                                                                <h4>20ee01042@iitbbs.ac.in</h4>
                                                                                            </li><br>
                                                                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                                                                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                                                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                                                                        </ul>
                                                                                    </div>
                                                    
                                                                                </figure>
                                                                            </div>
                                                                            <br>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    
                                                    
                                                               
                                                                    <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                                                                        <div class="inner-box">
                                                                            <div class="image-box">
                                                                                <figure class="image"><img src="/assets/teams/img/events/Shreya.jpg" alt="">
                                                    
                                                                                    <div class="social-links">
                                                                                        <ul>
                                                                                            <li
                                                                                                class="ch-info">
                                                                                                <h2>
                                                                                                    Shreya Mohanty
                                                                                                </h2>
                                                                                            </li><br>
                                                                                            <li class="ch-info">
                                                                                                <h2>
                                                                                                    8895003190
                                                                                                </h2>
                                                                                            </li><br>
                                                                                            <li class="ch-info">
                                                                                                <h4>20ec01057@iitbbs.ac.in</h4>
                                                                                            </li><br>
                                                                                            <li><a href="#" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                                                                            <li><a href="https://instagram.com/shre._yeah?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                                                                            <li><a href="https://www.linkedin.com/in/prakash-mohaldar-341b84241" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                                                                        </ul>
                                                                                    </div>
                                                    
                                                                                </figure>
                                                                            </div>
                                                                            <br>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                                                           

        <div class="container">
            <div class="sec-title light text-center">
                <span class="title">
                    <h1>CREATIVES</h1>
                </span>

            </div>

            <div class="row">

                
               <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/komal.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                             
                                            P Sai Komal 
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            7989212768
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20CS01002@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/saikomal.potta?mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/saikomalpotta?igshid=ZDdkNTZiNTM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/komal1525" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/kalyan.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>
                                             T V S P V Kalyan
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            8074634178
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ee01010@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/profile.php?id=100008435079830&mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/kalyantvspv?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>

                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/Prakash.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                            
                                            Prakash Mohaldar
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            8239671201
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ec01042@iitbbs.ac.in </h4></li><br>
                                        <li><a href="https://www.facebook.com/prakash.mohaldar" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://www.instagram.com/_.prakash04._/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/prakash-mohaldar-341b84241" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams//img/webd/nihal.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                                                                                  
                                            Nihal Sapariya
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            7265902212
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ce01012@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/profile.php?id=100006286037506&mibextid=ZbWKwL/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/nihalsapariya?igshid=YzgyMTM2MGM=" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/nihal-sapariya-3075a7210" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams//img/webd/Tharun.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                                                                                  
                                            M. Tharun Tej
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            8639815343
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20cs01037@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/tharuntej.marampally/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://www.instagram.com/t_h_a_run/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/tharun-marampally-78a69421a/" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/Abhiram.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                                                                                  
                                            G Abhiram Reddy
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            7989878679
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20ec01001@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://m.facebook.com/100008382192484/" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://www.instagram.com/abhiramg_1321/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/abhiram-reddy-geesidi-87174a213" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="sec-title light text-center">
                <span class="title">
                    <h1>WEB</h1>
                </span>

            </div>

            <div class="row">

                
               

                
                
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/Rishvic.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                            
                                            Rishvic Pushpakaran
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            8130539104
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20cs01018@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/rishvic.pushpakaran" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://instagram.com/rishvic.p" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/rishvic-pushpakaran-3ab69a206" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/Vishwa.jpg" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                         
                                           K Raja Vishwa Teja
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            9441170666
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20cs01042@iitbbs.ac.in</h4></li><br>
                                        <li><a href="#" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="speaker-block col-lg-4 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="/assets/teams/img/webd/ritik.JPG" alt="">
                                
                                <div class="social-links">
                                    <ul>
                                        <li class="ch-info"><h2>                                                                         
                                            Ritik Gupta
                                        </h2></li><br>
                                        <li class="ch-info"><h2>
                                            8302044304
                                        </h2></li><br>
                                        <li class="ch-info">
                                            <h4>20cs01029@iitbbs.ac.in</h4></li><br>
                                        <li><a href="https://www.facebook.com/profile.php?id=100055797112340&mibextid=ZbWKwL" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="https://www.instagram.com/ritik20_06/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/in/ritik3131" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
    
                            </figure>
                        </div>
                        <br>
                    </div>
                </div>
                
        
       
            
            
        </div>
        </div>
    </section>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.1.0.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
</body>

</html>
