 #cursor_follower {
     position: fixed;
     border-radius: 50%;
     z-index: 5;
     height: 32px;
     width: 32px;
     background-color: white;
     pointer-events: none;
     transition:
         background ease-in 10ms,
         box-shadow ease-in 150ms,
         transform ease-in 150ms;

     /* Promote it to its own layer to enable  hardware accelerated rendering: */
     transform: translate3d(0, 0, 0);
 }

/* Hide the cursor in touch devices. */
@media (pointer: coarse) {
  #cursor_follower {
    display: none;
  }
}
 .custom-cursor[data-type=sphere]:hover~#cursor_follower {
     background-color: #e6cf8b;
     box-shadow: 0 0 0 0 transparent, inset 0em -0.3em 0.4em 0.2em #ca9e03a6;

 }

 .custom-cursor[data-type=sphere]:hover~#cursor_follower {
     background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 26.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 33 33' style='enable-background:new 0 0 33 33;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23FFFFFF;stroke:%23000000;stroke-miterlimit:10;} .st1{fill:%23FFFFFF;stroke:%23000000;stroke-width:0.5;stroke-miterlimit:10;} %3C/style%3E%3Ccircle class='st0' cx='16.5' cy='16.5' r='14.2'/%3E%3Cpath class='st0' d='M15.5,5.2c0-2.8,2-2.8,2-2.8'/%3E%3Cpath class='st0' d='M17.5,27.8c0,2.8-2,2.8-2,2.8'/%3E%3Cpath class='st0' d='M7.8,9.2c-2-2-0.6-3.4-0.6-3.4'/%3E%3Cpath class='st0' d='M25.2,23.8c2,2,0.6,3.4,0.6,3.4'/%3E%3Cpath class='st0' d='M5.1,17.5c-2.8,0-2.8-2-2.8-2'/%3E%3Cpath class='st0' d='M27.8,15.5c2.8,0,2.8,2,2.8,2'/%3E%3Cpath class='st0' d='M9.2,25.2c-2,2-3.4,0.6-3.4,0.6'/%3E%3Cpath class='st0' d='M23.8,7.8c2-2,3.4-0.6,3.4-0.6'/%3E%3Ccircle class='st1' cx='16.5' cy='16.5' r='9.7'/%3E%3C/svg%3E");
 }

 .custom-cursor[data-type=outline]:hover~#cursor_follower {
     background-color: transparent;
     /* Use box-shadow instead of border to avoid changing the dimensions of the
       cursor, which will make it be off-center until the mouse moves again: */
     aborder: 3px solid #E91E63;
     box-shadow: 0 0 0 3px #E91E63;
 }


 .custom-cursor[data-type=pin]:hover~#cursor_follower {
     background-color: #e6cf8b;
     /* Change its size with scale() instead of width and height for better
       performance performance: */
     transform: scale(0.5) translate3d(0, 0, 0);
 }

 .custom-cursor[data-type=gradient]:hover~#cursor_follower {
     background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
 }