<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Wissenaire'23 | Automobile Mechanics</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/workshop/img/favicon.png" rel="icon" />
    <link
      href="assets/workshop/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="css/cursor.css" />
    <script src="js/cursor.js" defer></script>

    <!-- Vendor CSS Files -->
    <link href="assets/workshop/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/workshop/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/workshop/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/workshop/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/workshop/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/workshop/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="assets/workshop/css/style.css" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
  </head>

  <body class="box custom-cursor">
    <%- include('../partials/navBar.ejs') %>
    <div id="cursor_follower"></div>
    <main id="main">
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>Automobile Mechanics & IC Engine Design</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img
                src="./assets/workshop/img/automobile2.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>About</h3>
              <p class="fst-italic">
                Automobile engineering is the one of the stream of mechanical engineering. It deals with the various types of automobiles, their mechanism of transmission systems and its applications.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Time Duration:</strong>
                      <span>2 Days Workshop</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Timeline:</strong>
                      <span>27th-29th January 2023</span>
                    </li>
                    <!-- <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>New York, USA</span></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <%- include('../partials/workshopRegistration.ejs') %>
        </div>
      </section>

      <section id="facts" class="facts">
        <div class="container">
          <div class="section-title">
            <h2>What you will learn?</h2>
            <p>
              A two days' workshop on Automotive Engine Design. All the concepts are explained in detail with the Help of Theory and With Specially Designed Animations which would help students to visualize Things before practically working on it.
            </p>
          </div>

          <div class="row no-gutters">
            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
            >
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="2"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Days of Workshop</strong></p>
              </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Projects</strong></p>
              </div>
            </div> -->

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="14"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Hours Of Support</strong></p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="3"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Sessions</strong></p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Perks and Benefits</h2>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-6 col-md-6 portfolio-item filter-app">
              <!-- <div
                class="portfolio-wrap h-100 d-flex align-items-center justify-content-center"
              > -->
              <div class="resume-item">
              <h5>1. Free Exhibit passes.</h5>
            </div>
            <div class="resume-item">
              <h5>2. Certificate from IIT Bhubaneswar.</h5>
            </div>
            <div class="resume-item">
              <h5>3. Discount on starnite passes.</h5>
            </div>
            <div class="resume-item">
              <h5>4. Summer internship opportunities.</h5>
            </div> 
              <!-- </div> -->
            </div>
          </div>
        </div>
      </section>

      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Syllabus</h2>
            <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id blanditiis magni aperiam labore quae, numquam perspiciatis voluptatum at quos sint illum, eum doloribus, dicta et omnis vero. Laborum, architecto itaque?</p> -->
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sections</h3>
              <div class="resume-item">
                <h4>1. Types of Locomotive Vehicles Chassis Design</h4>
              </div>
              <div class="resume-item">
                <h4>2. Suspension Unit</h4>
              </div>
              <div class="resume-item">
                <h4>3. Braking Unit</h4>
              </div>
              
            </div>
            <p>
              For more information and complete syllabus, please download the
              pdf from above
            </p>
          </div>
        </div>
      </section>

      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Organising Partner</h2>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div
                class="portfolio-wrap h-100 d-flex align-items-center justify-content-center"
                style="width: 42vmin;"
              >
                <img
                  src="./assets/workshop/img/osseb.png"
                  class="img-fluid"
                  alt=""
                />
                <!-- <div class="portfolio-links">
                  <a href="assets/workshop/img/eisystems(1).jfif" data-gallery="portfolioGallery"  title="name"><i class="bx bx-plus"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Contact Details</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href=""> Karthikeya</a></h4>
              <p class="description">20CE01042@iitbbs.ac.in</p>
               
              <p class="description2 description">+91 7093867606</p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Varun Abhishek</a></h4>
              <p class="description">20ME01056@iitbbs.ac.in</p>
               
              <p class="description2 description">+91 7981711761</p>
            </div>
            <!-- <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div> -->
          </div>
        </div>
      </section>

      <div class="buttonDiv" style="margin-bottom: 2.5%">
        <button
          class="backBtn"
          href="#"
          style="--color: rgb(0, 0, 0)"
          style="width: 40%; margin: auto"
          onclick="prevWorkshop()"
        >
          <span>Previous <i class="fa fa-light fa-arrow-left"></i></span
          ><i class="btnIcon"></i>
        </button>
        <button
          class="backBtn"
          href="#"
          style="--color: rgb(0, 0, 0)"
          style="width: 40%; margin: auto"
          onclick="nextWorkshop()"
        >
          <span>Next <i class="fa fa-light fa-arrow-right"></i></span
          ><i class="btnIcon"></i>
        </button>
      </div>
      <script>
        function prevWorkshop() {
          const prevWorkshopURL = "/workshop-crypto";
          window.location.href = prevWorkshopURL;
        }
        function nextWorkshop() {
          const nextWorkshopURL = "/workshop-dl";
          window.location.href = nextWorkshopURL;
        }
      </script>
      <script>
        function redirectToLogin() {
          window.location.href = "/auth/google";
        }
        function redirectToProfile() {
          window.location.href = "/profile";
        }
        function continueToBooking() {
          window.location.href = `https://payments.cashfree.com/forms/automobiles`;
        }
      </script>

      <script>
        const downloadPdf = document.querySelector("#download-pdf");
        downloadPdf.addEventListener("click", () => {
          // Creating the element anchor that
          // will download pdf
          let element = document.createElement("a");
          element.href =
            "./assets/workshop/workshop-pdfs/automobile.pdf";
          element.download = "workshop-python.pdf";
          // Adding the element to body
          document.documentElement.appendChild(element);
          // Above code is equivalent to
          // <a href="path of file" download="file name">
          // onClick property, to trigger download
          element.click();
          // Removing the element from body
          document.documentElement.removeChild(element);
          // onClick property, to trigger submit form
          submitForm.click();
        });
      </script>
      <script src="assets/workshop/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="assets/workshop/vendor/aos/aos.js"></script>
      <script src="assets/workshop/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/workshop/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="assets/workshop/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/workshop/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="assets/workshop/vendor/typed.js/typed.min.js"></script>
      <script src="assets/workshop/vendor/waypoints/noframework.waypoints.js"></script>

      <script src="assets/workshop/js/main.js"></script>
    </main>
  </body>
</html>
