<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workshops | Wissenaire'23</title>
    <link rel="stylesheet" href="app/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="app/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="app/dist/app.css" />
    <link rel="stylesheet" href="assets/font/font-awesome.css" />

    <link href="assets/workshop/img/favicon.png" rel="icon" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('../partials/navBar.ejs') %>

    <section
      class="tf-section tf-roadmap style2"
      style="
        background: url(https://cyboxreact.themesflat.com/static/media/bg1roadmap.b9ea9603755390924e65.png)
          no-repeat;
        background-size: cover;
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
              class="tf-title m-b30"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <h4 class="title">Workshops</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div
              class="featured-box"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <div class="img-box">
                <img src="img/workshop/pp.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-python">Python Programming </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/staad.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-staad">Staad Pro </a>
                </div>
              </div>
              <div class="img-box">
                <img src="/img/workshop/android.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-android">Android App Development </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/web-dev.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-webdev"> Web Development </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/hacking.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-ethicalHacking">Ethical Hacking </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/al-ml.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-ml"
                    >Artificial Intelligence & Machine Learning
                  </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/iot.png" alt="" />
                <div class="content">
                  <a href="/workshop-iiot">Industrial internet of things (IIoT) </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/dl.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-dl"> Deep Learning - Self driving </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/blockchain.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-crypto">BlockChain & CryptoCurrencies </a>
                </div>
              </div>
              <div class="img-box">
                <img src="img/workshop/automobile.jpg" alt="" />
                <div class="content">
                  <a href="/workshop-automobile">Automobiles and IC engines</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
