<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wissenaire'22</title>
    <link
      href="https://fonts.googleapis.com/css?family=Exo+2:600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="./assets/img/blue_favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>    
  </head>
  
  <body class="box custom-cursor">
    <div id="cursor_follower"></div>

  <nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- <div class="container"> -->
            <a class="navbar-brand" href="#">
              <img src="/wiss'23 big logo.PNG" alt="" width="250" height="65">
            </a>
            <!-- <div class="wrap">-->
                <div class="icons float-right"> 
                  <a href="https://www.instagram.com/wissenaire.iitbbs/" target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                  <a href="https://www.facebook.com/wissenaireiitbbs" target="_blank"
                    ><i class="fab fa-facebook"></i
                  ></a>
                  <a href="https://twitter.com/wissenaire22" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    href="https://www.linkedin.com/company/wissenaireiitbbs/"
                    target="_blank"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </div>
          <!-- </div> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <div class="container-fluid">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
              </ul>
    </div>
  </div>
  </div>
  </body>
  <%- include('../partials/preLoader') %>
  <script>
    let preLoader = document.getElementById('preloader')
    $(window).load(function(){
      preLoader.style.display='none';
    })
  </script>
</html>