/* Navigation */
.navigation {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

@font-face {
  font-family: "cybox";
  src: url("../../assets/font/Furore.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.navigation-left {
  margin-left: -33px;
}

.navigation-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333745;
  font-size: 12px;
  font-weight: bold;
  width: 107px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  transition: all 0.2s;
}

.navigation-left a:hover,
.navigation-left a:focus {
  border-color: rgb(234, 46, 73);
  background-color: rgba(44, 45, 47, 0);
}

.navigation-center {
  margin-right: 85px;
}

.navigation-right {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #b8b8b9;
  width: 97px;
  height: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  color: #333745;
  text-transform: uppercase;
  margin-left: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.06);
}

/* Slider wrapper */

.css-slider-wrapper {
  display: block;
  background: #fff;
  overflow: hidden;
  /* overflow-x: scroll;
  width: inherit; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms, transform 800ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Slides Background Color */

.slide-1 {
  /* background: #fbad99; */
  background-color: #030303;
  /* background-image: url("../assests/img/school\ champ.png"); */

  /* background-size: cover; */
  left: 0;
}

.slide-2 {
  /* background: #a9785c; */
  background-color: #030303;
  left: 100%;
}

.slide-3 {
  /* background: #9ea6b3; */
  background-color: #030303;
  left: 200%;
}

.slide-4 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 300%;
}

.slide-5 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 400%;
}

.slide-6 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 500%;
}

.slide-7 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 600%;
}

.slide-8 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 700%;
}

.slide-9 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 800%;
}

.slide-10 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 900%;
}

.slide-11 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1000%;
}

.slide-12 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1100%;
}

.slide-13 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1200%;
}

.slide-14 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1300%;
}

.slide-15 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1400%;
}

.slide-16 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1500%;
}

.slide-17 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1600%;
}

.slide-18 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1700%;
}

.slide-19 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1800%;
}

.slide-20 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 1900%;
}

.slide-21 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2000%;
}

.slide-22 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2100%;
}

.slide-23 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2200%;
}

.slide-24 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2300%;
}

.slide-25 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2400%;
}

.slide-26 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2500%;
}

.slide-27 {
  /* background: #b1a494; */
  background-color: #030303;
  left: 2600%;
}

.slider {
  display: flex;
  justify-content: flex-start;
}

.slider-content {
  width: 635px;
  padding-left: 100px;
  margin-left: 10px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Slider Inner Slide Effect */
.slider h2 {
  /* color: #333333; */
  color: #fff;
  font-weight: 900;
  font-family: "Oswald";
  text-transform: capitalize;
  font-size: 75px;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin-top: 0;
  letter-spacing: 2px;
}

.slider h4 {
  font-size: 20px;
  font-family: "Monteserrat";
  /* color: rgba(51, 51, 51, 0.349); */
  color: rgb(228, 227, 227);
  font-weight: normal;
  /* text-transform: uppercase; */
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slider img {
  position: absolute;
  right: 0%;
  bottom: 0;
  height: 100%;
  opacity: 20%;
  width: 60%;
  /* -webkit-transform: translateX(500px);
  transform: translateX(500px); */
}

.slide-1 img {
  right: 0;
}

.buy-now-btn {
  background-color: #ea2e49;
  width: 145px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-align: left;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  align-items: center;
}

.buy-now-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51, 51, 51, 1);
}

.buy-now-btn:after {
  content: "REGISTER";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  /* position: absolute;
    right: 35px;
    top: 18px; */
}

.slider .buy-now-btn:focus,
.navigation .login-btn:focus {
  outline: none;
}

/* Animations */
.slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s;
  /* Safari */
  transition-delay: 1s;
}

.slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s;
  /* Safari */
  transition-delay: 1.4s;
}

.slider img {
  /* -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  /* transition-delay: 1.2s; */
}

/* Number Pagination */
.number-pagination {
  position: absolute;
  bottom: 45px;
  right: 100px;
  font-family: Oswald;
  font-weight: bold;
}

.number-pagination span {
  font-size: 30px;
  color: #ea2e49;
  letter-spacing: 4px;
}

.number-pagination span:after {
  content: "/27";
  font-size: 16px;
  color: #fff;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 775px;
  left: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}

/* Slider Pagger Event */
.slide-radio1:checked~.slider-pagination .page1,
.slide-radio2:checked~.slider-pagination .page2,
.slide-radio3:checked~.slider-pagination .page3,
.slide-radio4:checked~.slider-pagination .page4,
.slide-radio5:checked~.slider-pagination .page5,
.slide-radio6:checked~.slider-pagination .page6,
.slide-radio7:checked~.slider-pagination .page7,
.slide-radio8:checked~.slider-pagination .page8,
.slide-radio9:checked~.slider-pagination .page9,
.slide-radio10:checked~.slider-pagination .page10,
.slide-radio11:checked~.slider-pagination .page11,
.slide-radio12:checked~.slider-pagination .page12,
.slide-radio13:checked~.slider-pagination .page13,
.slide-radio14:checked~.slider-pagination .page14,
.slide-radio15:checked~.slider-pagination .page15,
.slide-radio16:checked~.slider-pagination .page16,
.slide-radio17:checked~.slider-pagination .page17,
.slide-radio18:checked~.slider-pagination .page18,
.slide-radio19:checked~.slider-pagination .page19,
.slide-radio20:checked~.slider-pagination .page12,
.slide-radio21:checked~.slider-pagination .page21,
.slide-radio22:checked~.slider-pagination .page22,
.slide-radio23:checked~.slider-pagination .page23,
.slide-radio24:checked~.slider-pagination .page24,
.slide-radio25:checked~.slider-pagination .page25,
.slide-radio26:checked~.slider-pagination .page26,
.slide-radio27:checked~.slider-pagination .page27 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked~.slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide-radio2:checked~.slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide-radio3:checked~.slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.slide-radio4:checked~.slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio5:checked~.slider {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}

.slide-radio6:checked~.slider {
  -webkit-transform: translateX(-500%);
  transform: translateX(-500%);
}

.slide-radio7:checked~.slider {
  -webkit-transform: translateX(-600%);
  transform: translateX(-600%);
}

.slide-radio8:checked~.slider {
  -webkit-transform: translateX(-700%);
  transform: translateX(-700%);
}

.slide-radio9:checked~.slider {
  -webkit-transform: translateX(-800%);
  transform: translateX(-800%);
}

.slide-radio10:checked~.slider {
  -webkit-transform: translateX(-900%);
  transform: translateX(-900%);
}

.slide-radio11:checked~.slider {
  -webkit-transform: translateX(-1000%);
  transform: translateX(-1000%);
}

.slide-radio12:checked~.slider {
  -webkit-transform: translateX(-1100%);
  transform: translateX(-1100%);
}

.slide-radio13:checked~.slider {
  -webkit-transform: translateX(-1200%);
  transform: translateX(-1200%);
}

.slide-radio14:checked~.slider {
  -webkit-transform: translateX(-1300%);
  transform: translateX(-1300%);
}

.slide-radio15:checked~.slider {
  -webkit-transform: translateX(-1400%);
  transform: translateX(-1400%);
}

.slide-radio16:checked~.slider {
  -webkit-transform: translateX(-1500%);
  transform: translateX(-1500%);
}

.slide-radio17:checked~.slider {
  -webkit-transform: translateX(-1600%);
  transform: translateX(-1600%);
}

.slide-radio18:checked~.slider {
  -webkit-transform: translateX(-1700%);
  transform: translateX(-1700%);
}

.slide-radio19:checked~.slider {
  -webkit-transform: translateX(-1800%);
  transform: translateX(-1800%);
}

.slide-radio20:checked~.slider {
  -webkit-transform: translateX(-1900%);
  transform: translateX(-1900%);
}

.slide-radio21:checked~.slider {
  -webkit-transform: translateX(-2000%);
  transform: translateX(-2000%);
}

.slide-radio22:checked~.slider {
  -webkit-transform: translateX(-2100%);
  transform: translateX(-2100%);
}

.slide-radio23:checked~.slider {
  -webkit-transform: translateX(-2200%);
  transform: translateX(-2200%);
}

.slide-radio24:checked~.slider {
  -webkit-transform: translateX(-2300%);
  transform: translateX(-2300%);
}

.slide-radio25:checked~.slider {
  -webkit-transform: translateX(-2400%);
  transform: translateX(-2400%);
}

.slide-radio26:checked~.slider {
  -webkit-transform: translateX(-2500%);
  transform: translateX(-2500%);
}

.slide-radio27:checked~.slider {
  -webkit-transform: translateX(-2600%);
  transform: translateX(-2600%);
}

.slide-radio1:checked~.slide-1 h2,
.slide-radio2:checked~.slide-2 h2,
.slide-radio3:checked~.slide-3 h2,
.slide-radio4:checked~.slide-4 h2,
.slide-radio5:checked~.slide-5 h2,
.slide-radio6:checked~.slide-6 h2,
.slide-radio7:checked~.slide-7 h2,
.slide-radio8:checked~.slide-8 h2,
.slide-radio9:checked~.slide-9 h2,
.slide-radio10:checked~.slide-10 h2,
.slide-radio11:checked~.slide-11 h2,
.slide-radio12:checked~.slide-12 h2,
.slide-radio13:checked~.slide-13 h2,
.slide-radio14:checked~.slide-14 h2,
.slide-radio15:checked~.slide-15 h2,
.slide-radio16:checked~.slide-16 h2,
.slide-radio17:checked~.slide-17 h2,
.slide-radio18:checked~.slide-18 h2,
.slide-radio19:checked~.slide-19 h2,
.slide-radio20:checked~.slide-20 h2,
.slide-radio21:checked~.slide-21 h2,
.slide-radio22:checked~.slide-22 h2,
.slide-radio23:checked~.slide-23 h2,
.slide-radio24:checked~.slide-24 h2,
.slide-radio25:checked~.slide-25 h2,
.slide-radio26:checked~.slide-26 h2,
.slide-radio27:checked~.slide-27 h2,
.slide-radio1:checked~.slide-1 h4,
.slide-radio2:checked~.slide-2 h4,
.slide-radio3:checked~.slide-3 h4,
.slide-radio4:checked~.slide-4 h4,
.slide-radio5:checked~.slide-5 h4,
.slide-radio6:checked~.slide-6 h4,
.slide-radio7:checked~.slide-7 h4,
.slide-radio8:checked~.slide-8 h4,
.slide-radio9:checked~.slide-9 h4,
.slide-radio10:checked~.slide-10 h4,
.slide-radio11:checked~.slide-11 h4,
.slide-radio12:checked~.slide-12 h4,
.slide-radio13:checked~.slide-13 h4,
.slide-radio14:checked~.slide-14 h4,
.slide-radio15:checked~.slide-15 h4,
.slide-radio16:checked~.slide-16 h4,
.slide-radio17:checked~.slide-17 h4,
.slide-radio18:checked~.slide-18 h4,
.slide-radio19:checked~.slide-19 h4,
.slide-radio20:checked~.slide-20 h4,
.slide-radio21:checked~.slide-21 h4,
.slide-radio22:checked~.slide-22 h4,
.slide-radio23:checked~.slide-23 h4,
.slide-radio24:checked~.slide-24 h4,
.slide-radio25:checked~.slide-25 h4,
.slide-radio26:checked~.slide-26 h4,
.slide-radio27:checked~.slide-27 h4  {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .slider h2 {
    font-size: 50px;
  }

  .slider h4 {
    font-size: 16px;
  }

  .slider-content {
    padding: 0 4%;
  }

  .navigation {
    padding: 0 2%;
  }

  .navigation-left {
    display: none;
  }

  .number-pagination {
    right: 2%;
  }

  .slider-pagination {
    /* left: 2%; */
    display: none;
  }

  .slider .buy-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }

  .slider .buy-now-btn:after {
    top: 15px;
  }

  .slider img {
    right: 2%;
  }

  .slide-1 img {
    right: -110px;
  }
}

/* button */

.button {
  --offset: 8px;
  --border-size: 1.5px;
  margin-top: 40px;
  display: block;
  position: relative;
  padding: 1.5em 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}

.button:hover {
  /* background: rgba(100, 0, 0, 0.03); */
  /* background: #FF4500; */
  border-radius: 6px;
  /* box-shadow: 0px 0px 60px -17px rgb(207, 100, 100); */
}

.button:active {
  top: 1.5px;
}

.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}

.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
  transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
  transform: scaleY(0);
}

@media screen and (max-width: 650px) {
  .slider img {
    width: 154vw;
    right: 0;
    left: 0;
  }
}

/* .coolCursor{
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABgAAAAYADwa0LPAAABHElEQVRIx8WVwU7CQBCGvxDhpC9GUeuL9C6+ACAvJiQQLxLwwANwFEh6ADw4m6x1pt1da5xkss3uzD+d+bIt/KMNgBlQAhfDS4nJUsQvkZ7HFJhL0iPQq4nrAUOJfYkpsJek64DYG4nda4cdI+ld1iKgg0KeN6FvfwdsiWewBW6bxHPglCDu/ATc1xVYEgZXG5WDvagLPBIOt2oO9sHfrEJey9oEV+ugqGj8sFS4QbBzfge3EXYqXG1UKuwmuF1gCuzEJ8CVEavCfpXNodHBszKGidHBk5wv/YMH4Nwig7NofrNxiwVG2uwW2KAtoSDAzuo+0SEFfMAfbsO/yStZY2+x34G7zW9aQNYig771Fhlfv74yQbSUXFP8T+wTM/HpNc4BzI0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMTAtMTRUMTg6NDY6NTgrMDA6MDAV+GItAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTEwLTE0VDE4OjQ2OjU4KzAwOjAwZKXakQAAAABJRU5ErkJggg==") 12 12 , auto;
  line-height:24px;
  color:"red";
} */