#container {
    display: flex;
    overflow-x: hidden;
    
    max-width: 100rem;
    /* margin: 0 auto; */
  }
  
  #container p {
    font-family: sans-serif;
    
    border-radius: 8px;
    background: #ff6961;
    color: white;
    min-width: 1000px;
    
    padding: 2rem 3rem;
    margin: 2rem 1rem;
  }
  
  