// Fonts & Typography
@import url('https://fonts.googleapis.com/css?family=Exo:300');
$main-font: 'Exo', sans-serif;
$letterDim: 40px;
$letterSize: 2em;
$letterEasing: ease-in;
$letterSpeed: 6s;

// Colors
$white: #fff;
$black: #000;
$palette: #4185F3, #33A753, #FABB04, #E94234, #fff;

// Loader Settings
$dim: 20rem;
$fadeStart: .1;
$fadeEnd: 1;
$speed: 3s;
$easing: ease-out;
$type: normal; //normal / reverse / alternate / alternate-reverse


// Generals
// *,*::before,*::after{
//   box-sizing: border-box;
// }
// body{
//   font-family: $main-font;
//   font-size: 16px;
// }


// Loader styles
.wrap-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw !important;
  background-color: black;
}

.loader-text {
  color: white;
}