<div class="next-prev-grp">
  <div class="next-prev-item">
    <button class="button" onclick="prevOnClicks[<%= page%>]()">PREV</button>
  </div>
  <div class="next-prev-item">
    <button class="button" onclick="nextOnClicks[<%= page%>]()">NEXT</button>
  </div>
</div>
